<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
<label for="studentName">Enter The Starting location:</label>
<input type="text" id="student" name="student">
<label for="studentName2">Enter The Destination:</label>
<input type="text" id="Newstudent" name="Newstudent">
</div>


<p>
      <form>
            <label>Start Date:</label>
            <input type="date" />
            <label >End date:   </label>
            <input type="date"/> <br>
        </form>
</p>
